.input1::placeholder{
      
  text-align: center;
  font-weight: bolder;
  color:white;
  
}

.input2::placeholder{
  font-weight: bolder;
  text-align: center;
  color: white
}
body{
  background: linear-gradient(to right, #642b73, #c6426e)
}
.Container{
margin: 30px
}

.container1{
   display: table-cell;
    width: 1500px;
    height: 500px;
    vertical-align: middle;
    text-align: center;
}
.container2{
display: inline-block;width: 100%; text-align: center;
}
.input1{
width: 50%; border-radius: 30px;height: 50px;border-color: white;
background-color:rgba(0, 0, 0, 0);color: white;

}
.input2{
width: 40%; border-radius: 30px;height: 50px;border-color: white;
background-color:rgba(0, 0, 0, 0);color: white;
}

.btn{
border-radius: 30px
}